header {
    background-color: whitesmoke;
    color: black;
    padding: 2px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    border-bottom: solid 2px black;
}

body {
    background-color: whitesmoke;
}

footer {
    background-color: whitesmoke;
}