* {
    margin: 0%;
    padding: 0%;
}

/* Header */
.bg-cbcolor {
    background-color: whitesmoke;
    border-bottom: solid 2px gainsboro;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}
/* Fin de header */

.section-car-1 {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}
footer {
    background-color: whitesmoke;
}

.tabla-cartilla {
    background-color: whitesmoke;
    text-align: center;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

/** Grilla **/
.grid-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    padding: 10px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; border: 2px solid black;}
    .div2 { grid-area: 2 / 1 / 3 / 2; border: 2px solid black;}
    .div3 { grid-area: 3 / 1 / 4 / 2; border: 2px solid black;}
    .div4 { grid-area: 4 / 1 / 5 / 2; border: 2px solid black}
    .div5 { grid-area: 5 / 1 / 6 / 2; border: 2px solid black;}
    .div6 { grid-area: 6 / 1 / 7 / 2; border: 2px solid black;}
    .div7 { grid-area: 7 / 1 / 8 / 2; border: 2px solid black;}
    .div8 { grid-area: 8 / 1 / 9 / 2; border: 2px solid black;}
    .div9 { grid-area: 9 / 1 / 10 / 2; border: 2px solid black;}
    .div10 { grid-area: 10 / 1 / 11 / 2; border: 2px solid black;}
    .div11 { grid-area: 11 / 1 / 12 / 2; border: 2px solid black;}
    .div12 { grid-area: 12 / 1 / 13 / 2; border: 2px solid black;}
    .div13 { grid-area: 13 / 1 / 14 / 2; border: 2px solid black;}
    .div14 { grid-area: 14 / 1 / 15 / 2; border: 2px solid black;}
    .div15 { grid-area: 1 / 2 / 2 / 3; border: 2px solid black;}
    .div16 { grid-area: 2 / 2 / 3 / 3; border: 2px solid black;}
    .div17 { grid-area: 3 / 2 / 4 / 3; border: 2px solid black;}
    .div18 { grid-area: 4 / 2 / 5 / 3; border: 2px solid black;}
    .div19 { grid-area: 5 / 2 / 6 / 3; border: 2px solid black;}
    .div20 { grid-area: 6 / 2 / 7 / 3; border: 2px solid black;}
    .div21 { grid-area: 7 / 2 / 8 / 3; border: 2px solid black;}
    .div22 { grid-area: 8 / 2 / 9 / 3; border: 2px solid black;}
    .div23 { grid-area: 9 / 2 / 10 / 3; border: 2px solid black;}
    .div24 { grid-area: 10 / 2 / 11 / 3; border: 2px solid black;}
    .div25 { grid-area: 11 / 2 / 12 / 3; border: 2px solid black;}
    .div26 { grid-area: 12 / 2 / 13 / 3; border: 2px solid black;}
    .div27 { grid-area: 13 / 2 / 14 / 3; border: 2px solid black;}
    .div28 { grid-area: 14 / 2 / 15 / 3; border: 2px solid black;}
    .div29 { grid-area: 1 / 3 / 2 / 4; border: 2px solid black;}
    .div30 { grid-area: 2 / 3 / 3 / 4; border: 2px solid black;}
    .div31 { grid-area: 3 / 3 / 4 / 4; border: 2px solid black;}
    .div32 { grid-area: 4 / 3 / 5 / 4; border: 2px solid black;}
    .div33 { grid-area: 5 / 3 / 6 / 4; border: 2px solid black;}
    .div34 { grid-area: 6 / 3 / 7 / 4; border: 2px solid black;}
    .div35 { grid-area: 7 / 3 / 8 / 4; border: 2px solid black;}
    .div36 { grid-area: 8 / 3 / 9 / 4; border: 2px solid black;}
    .div37 { grid-area: 9 / 3 / 10 / 4; border: 2px solid black;}
    .div38 { grid-area: 10 / 3 / 11 / 4; border: 2px solid black;}
    .div39 { grid-area: 11 / 3 / 12 / 4; border: 2px solid black;}
    .div40 { grid-area: 12 / 3 / 13 / 4; border: 2px solid black;}
    .div41 { grid-area: 13 / 3 / 14 / 4; border: 2px solid black;}
    .div42 { grid-area: 14 / 3 / 15 / 4; border: 2px solid black;}
    .div43 { grid-area: 1 / 4 / 2 / 5; border: 2px solid black;}
    .div44 { grid-area: 2 / 4 / 3 / 5; border: 2px solid black;}
    .div45 { grid-area: 3 / 4 / 4 / 5; border: 2px solid black;}
    .div46 { grid-area: 4 / 4 / 5 / 5; border: 2px solid black;}
    .div47 { grid-area: 5 / 4 / 6 / 5; border: 2px solid black;}
    .div48 { grid-area: 6 / 4 / 7 / 5; border: 2px solid black;}
    .div49 { grid-area: 7 / 4 / 8 / 5; border: 2px solid black;}
    .div50 { grid-area: 8 / 4 / 9 / 5; border: 2px solid black;}
    .div51 { grid-area: 9 / 4 / 10 / 5; border: 2px solid black;}
    .div52 { grid-area: 10 / 4 / 11 / 5; border: 2px solid black;}
    .div53 { grid-area: 11 / 4 / 12 / 5; border: 2px solid black;}
    .div54 { grid-area: 12 / 4 / 13 / 5; border: 2px solid black;}
    .div55 { grid-area: 13 / 4 / 14 / 5; border: 2px solid black;}
    .div56 { grid-area: 14 / 4 / 15 / 5; border: 2px solid black;}


  /* Footer */
.site-footer
{
  background-color: firebrick;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: whitesmoke;
  border-top: 1px solid tomato;
}
.site-footer hr
{
  border-top-color: whitesmoke;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color: tomato;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: whitesmoke;
}
.site-footer a:hover
{
  color: tomato;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:whitesmoke;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: tomato;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer 
{
  text-align:left
}
.site-footer a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}  
/* Media queries */

/* Mobile */

@media only screen and (max-width: 670px) {
    body {
        background-color: whitesmoke;
        font-size: 16px;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: whitesmoke;
        font-size: 28px;
    }
}

/* Desktop */

@media only screen and (min-width: 969px) {
    body {
        background-color: whitesmoke;
        font-size: 44px;
    }
}