* {
    margin: 0%;
    padding: 0%;
}

/* Header */

.bg-cbcolor {
    background-color: whitesmoke;
    border-bottom: solid 2px black;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}

/* Fin de header */

.section-cons-1 {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
}