* {
    margin: 0%;
    padding: 0%;
}
/* Header */
.bg-cbcolor {
    background-color: whitesmoke;
    border-bottom: solid 2px black;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}
/* Fin de header */

.section-er-1 {
    background-color: whitesmoke;
    color: black;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
} 

h5 {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    font-weight: bolder;
    text-decoration-line: underline;
    color: black;
    padding: 5px;
}

.uye-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.triage {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

img {
    padding: 10px;
}