* {
    margin: 0%;
    padding: 0%;
}

:root {
    --bg-color: #f5f5f5;
    --fonts-title: 'Bebas Neue', cursive;
    --fonts-text: 'Inter', sans-serif;
}


/* Header*/
.bg-nbcolor{
    background-color: whitesmoke;
    font-family: var(--fonts-title);
    font-size: x-large;
    border-bottom: solid 2px black;
}
/* Fin Header*/

/* Index body */
.parrafo-1 {
    color: black;
    font-weight: bolder;
    font-family: var(--fonts-text);
    font-size: x-large;
    text-align: left;
    padding: 20px;
}
.section-1 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}
.section-2 {
    background-color: var(--bg-color);
    font-family: var(--fonts-title);
    font-weight: lighter;
    color: black;
    font-size: x-large;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.menu-prestaciones {
 display: flex;
 justify-content: flex-start;
 width: 100%;
}

.Carousel {
    font-family: var(--fonts-title);
    font-weight: bold;
    font-size: x-large;
}
/* Fin index body */

/* Footer */
h5 {
    font-family: var(--fonts-title);
    font-size: x-large;
    font-weight: bolder;
}
.telefono {
    font-family: var(--fonts-text);
    font-size: small;
    font-weight: lighter;
}
.mail {
    font-family: var(--fonts-text);
    font-size: small;
    font-weight: lighter;
}
.section-3 {
    background-color: var(--bg-color);
    color: black;
    font-family: var(--fonts-title);
    text-align: right;
    padding: 30px;
}

.section-4 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
}
/* Fin de footer */